@font-face {
  font-family: "Open Sans";
  src: url("../font/subset-OpenSans-Regular.woff2") format("woff2"), url("../font/subset-OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans-bold";
  src: url("../font/subset-OpenSans-Bold.woff2") format("woff2"), url("../font/subset-OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes h1-header-anim {
  from {
    transform: rotateY(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-182deg) translate(28%, -37%);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #eee;
}

.nav {
  position: sticky;
  top: 0px;
  height: 50px;
  background: #eee;
  box-shadow: 0px 12px 10px -16px #111;
  z-index: 1000;
}
.nav .nav__items {
  display: none;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.nav .wrapper .logo {
  width: 180px;
  height: 45px;
  cursor: pointer;
}
.nav .wrapper .logo__logo-item {
  width: 180px;
  height: 45px;
  padding: 5px 20px;
}
.nav .wrapper .faq {
  color: #585658;
  font-weight: bold;
  font-size: 34px;
}

.header {
  overflow: hidden;
}
.header .head-box {
  position: relative;
  background-image: url("../img/hero-img-big.jpg");
  height: 280px;
  background-size: cover;
  background-position: center;
}
.header .head-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.582);
}
.header .head-box__text {
  width: 300px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}
.header .head-box__text .h1-header {
  padding-bottom: 10px;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: "Open Sans-bold";
  font-weight: bold;
  font-size: 28px;
}
.header .head-box__text span {
  position: relative;
  display: inline-block;
}
.header .head-box__text .green {
  color: #56f000;
}
.header .head-box__text .rotate-anim {
  animation: h1-header-anim 2s 1s linear forwards;
}
.header .head-box__text p {
  color: #ffffff;
  padding-bottom: 45px;
  letter-spacing: 1px;
  font-size: 18px;
}
.header .head-box .section-anim-bottom {
  position: absolute;
  width: 42vw;
  height: 10%;
  background-color: #eee;
  bottom: -1px;
  right: -60px;
  z-index: 1;
  transform: skew(-55deg);
}

main {
  overflow: hidden;
}
main .faq-section {
  scroll-margin-top: 50px;
  position: relative;
}
main .faq-section .bg-dollar {
  display: none;
}
main .faq-section .faq .container .head-br {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 35px 0 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #585658;
  z-index: 1;
  font-size: 18px;
  padding: 35px 0 0;
  text-align: center;
}
main .faq-section .faq .container .head-br::after {
  content: "";
  position: absolute;
  bottom: -16px;
  transform: rotate(-4deg);
  width: 0;
  height: 0;
  border-left: 180px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 25px solid #56f000;
  z-index: -1;
}
main .faq-section .faq-items {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .faq-section .faq-items .q-box {
  margin: 15px 0 3px 0;
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #d6d6d6;
  text-decoration: none;
  cursor: pointer;
}
main .faq-section .faq-items .q-box h4 {
  padding: 8px;
  color: #585658;
}
main .faq-section .faq-items .q-box .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  min-width: 30px;
  min-height: 30px;
  margin-left: 12px;
  background-image: url("../img/plus.svg");
  background-position: center;
}
main .faq-section .faq-items .q-box .icon .arrow-down {
  width: 20px;
  transform: rotate(180deg);
}
main .faq-section .faq-items .q-box .icon-minus {
  background-image: url("../img/minus.svg");
}
main .faq-section .faq-items .q-box-color-two {
  background-color: rgba(189, 190, 192, 0.9019607843);
}
main .faq-section .faq-items .content {
  width: 310px;
  padding: 8px 8px 8px 8px;
  font-size: 15px;
  color: #585658;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4862745098);
  overflow: hidden;
  height: 0px;
  opacity: 0;
  transition: all 0.8s;
}
main .faq-section .faq-items .content p {
  padding: 5px 0;
  font-size: 0px;
  height: 0px;
}
main .faq-section .faq-items .show {
  opacity: 1;
  height: auto;
}
main .faq-section .faq-items .show p {
  font-size: 15px;
  height: auto;
}

footer .created-by {
  width: 100%;
  background-color: #0d0d0d;
}
footer .created-by .line {
  margin: 0 auto;
  width: 20px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
}
footer .created-by .copyright-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .created-by .copyright-box p {
  font-size: 14px;
  padding: 8px;
  color: #a8a8a8;
}
footer .created-by .created-box {
  display: flex;
  justify-content: center;
}
footer .created-by .created-box p {
  height: 100%;
  color: #a8a8a8;
  font-size: 12px;
  padding: 8px;
  margin-right: 15px;
}
footer .created-by .created-box p .btn-footer {
  position: relative;
  text-decoration: none;
  color: #a8a8a8;
  padding: 3px;
  z-index: 1;
  margin-left: 5px;
}
footer .created-by .created-box p .btn-footer::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0%;
  width: 0%;
  height: 2px;
  background-color: #56f000;
  transition: all 0.3s;
  z-index: -1;
  overflow: hidden;
}
footer .created-by .created-box p .btn-footer:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  main .faq-section .faq-items .q-box {
    width: 85%;
  }
  main .faq-section .faq-items .content {
    width: 85%;
  }
}
@media (min-width: 1100px) {
  main .faq-section .bg-dollar {
    display: block;
    position: absolute;
    top: 100px;
    right: 4%;
    width: 200px;
    z-index: -20;
    opacity: 0.05;
    animation: rotate-left 50s infinite linear;
  }
  main .faq-section .left {
    top: 600px;
    left: 4%;
    animation: rotate-right 50s infinite linear;
  }
  main .faq-section .faq-items .q-box {
    width: 85%;
  }
  main .faq-section .faq-items .content {
    width: 85%;
  }
}/*# sourceMappingURL=style.css.map */