$main-green: #56f000;
$black-bgc: rgba(46, 46, 46, 0.582);
$black-text: #585658;
$black-text-footer: #a8a8a8;
$pure-white: #ffffff;
$light-white: #eee; 
$casting-offer-img: #e0e0e0;
$bgc-footer: #0d0d0d;
$gallery-shadow: #282727d8;
$img-bgc-before: #c4c4c4;
$img-bgc-after: #ddddddac;
$main-footer-bgc: #fff;
$first-color: #d6d6d6;
$second-color: #bdbec0e6;