@use './colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1290px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// h1 header animation::after

@keyframes h1-header-anim {
	from {
		transform: rotateY(0deg);
		opacity: 1;
		// filter: blur(0px);
	}
	to {
		transform: rotate(-182deg) translate(28%, -37%);
	}
}

// graphical animation for transitions between sections

@mixin section-bottom {
	position: absolute;
	width: 42vw;
	height: 10%;
	background-color: $light-white;
	bottom: -1px;
	right: -60px;
	z-index: 1;
	transform: skew(-55deg);
}

// main sections:
//h1:

@mixin h1-style {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 35px 0 50px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $black-text;
	z-index: 1;
	font-size: 18px;
}

@mixin h1-break-line {
	content: '';
	position: absolute;
	bottom: -16px;
	transform: rotate(-4deg);
	width: 0;
	height: 0;
	border-left: 180px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 25px solid $main-green;
	z-index: -1;
}

// h3 break line

@mixin h3-break-line {
	position: absolute;
	content: '';
	width: 250px;
	height: 150px;
	bottom: -131px;
	left: -75px;
	clip-path: polygon(30% 0, 61% 0, 44% 4%, 18% 7%);
	background-color: $main-green;
	z-index: -1;
}

// link hover for after element:

@mixin link-anim-after {
	position: absolute;
	content: '';
	bottom: -1px;
	right: 0%;
	width: 0%;
	height: 2px;
	background-color: $main-green;
	transition: all 0.3s;
	z-index: -1;
	overflow: hidden;
}

@mixin link-anim-hover-after {
	width: 100%;
}

// bg-icon animations (svg)

@keyframes rotate-left {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes rotate-right {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}